<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的接口dao/mapper接口-->
<mapper namespace="cn.itcast.dao.UserDao">
    <select id="getUserList" resultType="cn.itcast.pojo.User">
        select  *  from  t_user ;
    </select>
</mapper>